.card {
  padding: 16px;
  background: #f8f9fa;
  border-radius: 4px;
  cursor: pointer;
}
.cardActive {
  background: #e0ecff !important;
}
.head {
  display: flex;
  align-items: center;
}
.radio {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #cfd4d9;
  margin-right: 10px;
}
.radioActive {
  background-image: url(/radio.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
}
.title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #212529;
  user-select: none;
}
.desc {
  font-weight: 500;
  font-size: 12.8px;
  line-height: 15px;
  color: #6c757d;
  padding-left: 34px;
  margin-top: 10px;
  user-select: none;
}
